* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #e6e6e6;
}

.header {
    /* mobile */
    display: flex;
    justify-content: space-between;
    background-color: #e6e6e6;
}

nav {
    /* mobile */
    width: 30vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #000000;
    box-shadow: 10px 10px 5px #28a99e;
    color: #ffffff; 
    border-radius: 25px;
}

a:link {
    text-decoration: none;
}

a:visited {
    color: #ffffff;
} 

/* mouse over link */
a:hover {
    color: #e6e6e6;
    background-color:  #28a99e;
}

/* selected link */
a:active {
    color: #000000;
    background-color: #e6e6e6;
}

.name-image-container {
    /* mobile */
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;    
    background-color: #e6e6e6;
    color:#28a99e;
    text-shadow: 3px 3px 5px rgb(100, 100, 100);
    /* border-style: double; */
}
  
.name-image-container img {
    /* mobile */
    width: 25vw;
    box-shadow: 5px 5px 9px rgb(100, 100, 100);
    border-radius: 25px;
}

main {
    border-style: double;
    width: 100%;
    height: fit-content;
    background-color: #ffffff;
    border-radius: 25px;
    margin-top: 25px;
}

section {
    background-color: #ffffff;    
}

body > section {
    display: flex;
    justify-content: flex-start; 
    background-color: #ffffff;
}

h3 {
    color: rgb(100, 100, 100);
    text-shadow: 2px 2px 5px #28a99e;
}



    
@media only screen and (min-width: 500px) {
    .header {
        width: auto;
        display: flex;
        flex-direction: column;
        margin: 25px auto 25px auto;
        
        /* border-style: dashed; */
    }
    nav {
        /* laptop */
        /* width: 20vw; */
        display: flex;
        flex-direction: row; 
        justify-content: space-around;
        align-items: center;
        padding: 2px;
        height: auto;
        width: auto;
        border-color: #28a99e;
        border-style: double;
        box-shadow: none;
    }
    .name-image-container {
        /* laptop */
        width: auto;

        /* border-style: dotted; */
    }



    /* visited link */
    a:visited {
        color: #ffffff;

    } 

    /* mouse over link */
    a:hover {
        color: #e6e6e6;
        background-color:  #28a99e;
    }

    /* selected link */
    a:active {
        color: #000000;
        background-color: #e6e6e6;
    }
}


footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: px;
    text-align: left;
    color: rgb(82, 81, 80);
    background-color: #e6e6e6;
}